@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

setlist { 
     color: black; 
     width: 100%; 
     margin: 0em 1em;
     background-color: #A9B9C9;
} 
songA {
     background-color: #93ADC1;
     margin: 0em 1em;
}
songB {
     background-color: pink;
}
heading { 
     color: black; 
     font-size : 30px; 
     font-family: 'Nanum Gothic', sans-serif;
     background-color : #DDCDBC; 
     margin: 0em 1em;
} 
html, body {
     background-color: #A9B9C9;
     height: 100%;
     font-family: 'Nanum Gothic', sans-serif;
     box-sizing: border-box;
     margin: 0em 1em;
}
heading, artist, album, genre, year { 
     display : block; 
     margin: 0em 1em;
} 
name { 
     font-size : 20px; 
     font-weight : bold; 
} 
duration {
     font-size: 16px;
}
