@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Tajawal:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

html {
    box-sizing: border-box;
    outline: none;
    background: rgb(14, 13, 13);
    color: rgb(55, 238, 18);
}

h2 {
  font-family: "Share Tech Mono", monospace;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(55, 238, 18);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(55, 238, 18);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  * {
    box-sizing: border-box;
  }
  html, body{
    font-family: "Rubik", sans-serif;
  }

  #box {
    position: relative;
    max-width: 700px;
    margin: auto;
    box-sizing: border-box;
    overflow:hidden;
    text-align: center;
}

table {
  max-width: 700px;
  text-align: left;
  margin: auto;
  min-width: 200px;
  font-size: 14px;
}

input[type="text"]
{
    font-family: "Helvetica", sans-serif;
    font-size: 1em;
}

#field {
    height: 50px;
    box-sizing: border-box;
    margin: auto;
    display: block;
    padding: 0 25px;
    border: 1px solid #ccc;
}

#one {
  width: 10%;
}

#two {
  width: 20%;
}

#three {
  width: 40%;
}

#four {
  width: 20%;
}

input[type="submit"] {
    position: relative;
    top: 0;
    right: 0;
    height: 50px;
    width: 120px;
    opacity: 1;
    background-color: rgb(10, 44, 3);
    color: rgb(55, 238, 18);
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: 14px;
}
}