@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Quicksand&display=swap');

body {
    background-color: #f3d1e6
}

div {
    display: flex;
    align-items: center;
    justify-content: center 
}

form {
    margin: 0 auto;
    padding: 1.5rem 2rem;
    background-color: rgb(243, 227, 227);
    border-radius: 8px;
    font-size: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    justify-content: center;
}

form h1 {
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--gray-lighter);
    font-size: 15px;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

span {
    font-size: 10px;
    color: #c01a15;
}

span.star{
    font-size: 12px;
}

input[type=text]:focus {
    border: 2px solid #a0bcf0;
}

input[type=tel]:focus {
    border: 2px solid #a0bcf0;
}

table {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    font-family: 'Quicksand', sans-serif;
}

th { 
    font-size: 15px;
    border-bottom: 1px solid black;
    font-family: 'Open Sans', sans-serif;
}

td {
    font-size: 15px;
}

tr:hover {
    background-color: rgba(255,255,255,.25)
}

input[type="text"],
input[type="tel"] {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 15px;
  width: auto;
  margin: 0;
  outline: 0;
  padding: 2px;
  background-color: #f8f0f0;
  color: #5e5e5e;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 0px;
}

::placeholder {
    color: #b1afaf
}

input[type=radio]{
    text-align: center;
}

input[type="submit"] {
    padding: 10px;
    color: #FFF;
    background-color: #5e5e5e;
    font-size: 15px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 50%;
    border: 2px solid #57113c;
    margin-bottom: 10px;
  }

select {
    background-color: #f3bdbb;
    font-size: 14px;
}

